*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}
section{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url(../uploads/bg0.jpg);
    background-position-x: center;
    background-size: cover;
    animation: animateBg 50s linear infinite;
}
@keyframes animateBg {
    0%,100%
    {
        transform:scale(1);
    }
    50%
    {
        transform:scale(1.2);
    }
}
li{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1)  ;
    animation:  animate 3s linear infinite;
}
li::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, #fff, transparent);
}
@keyframes animate {
    0%
    {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70%
    {
        opacity: 1;

    }
    100%
    {
        transform: rotate(315deg) translateX(-1500px);
        opacity: 0;

    }
    
}
li:nth-child(1){
    top: 0;
    right: 0;
    left:initial;
    animation-delay:0 ;
    animation-duration: 1s;
}

li:nth-child(2){
    top: 0;
    right: 80px;
    left:initial;
    animation-delay:0.2s;
    animation-duration: 3s;
}

li:nth-child(3){
    top: 80px;
    right: 0px;
    left:initial;
    animation-delay:0.4s ;
    animation-duration: 2s;
}

li:nth-child(4){
    top: 0;
    right: 180px;
    left:initial;
    animation-delay:0.6s;
    animation-duration: 1.5s;
}

li:nth-child(5){
    top: 0;
    right: 400px;
    left:initial;
    animation-delay:0.8s;
    animation-duration: 2.5s;
}

li:nth-child(6){
    top: 0;
    right: 600px;
    left:initial;
    animation-delay:1s ;
    animation-duration: 3s;
}
li:nth-child(7 ){
    top: 300px;
    right: 0px;
    left:initial;
    animation-delay:1s ;
    animation-duration: 1.75s;
}

li:nth-child(8){
    top: 0px;
    right: 700px;
    left:initial;
    animation-delay:1.4s ;
    animation-duration: 1.25s;
}

li:nth-child(9){
    top: 0px;
    right: 1000px;
    left:initial;
    animation-delay:0.75s ;
    animation-duration: 2.25s;
}

li:nth-child(10){
    top: 0px;
    right: 1000px;
    left:initial;
    animation-delay:2.75s ;
    animation-duration: 2.25s;
}




* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Baloo 2', cursive;
}

.title {
	color: white;
    font-size: 36px;
    background-color: 1px;
}
.img-choice {
    margin-bottom: 20px;
}
.cardbg {
    background-color: rgba(23, 24, 32, 0.85);
    padding-top: 5px;
    border-radius: 10px; /* Adjust the value as needed */
}
.banner-text {
	width: 100%;
	position: absolute;
	z-index: 1;
}

.banner-text ul {
	height: 50px;
	float: right;
}

.banner-text ul li {
	display: inline-block;
	padding: 40px 15px;
	text-transform: uppercase;
	color: #fff;
	font-size: 20px;
}

.banner-text ul li:hover {
	cursor: pointer;
}

.banner-text h2 {
	text-align: center;
	color: #fff;
	font-size: 50px;
	margin-top: 20%;
}
.choice-text {
    font-size: 24px;
}

.choice-color-1 {
    background: linear-gradient(to bottom, rgba(236, 125, 125, 0.85), rgba(255, 181, 106, 0.85), rgba(230, 203, 115, 0.85));
	transition: background-color 0.5s ease, box-shadow 0.3s ease;
	color: black;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 8px;

}

.choice-color-2 {
    background: linear-gradient(to bottom, rgba(236, 125, 125, 0.85), rgba(255, 181, 106, 0.85), rgba(230, 203, 115, 0.85));
	transition: background-color 0.5s ease, box-shadow 0.3s ease;
	color: black;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

.choice-color-3 {
    background: linear-gradient(to bottom, rgba(236, 125, 125, 0.85), rgba(255, 181, 106, 0.85), rgba(230, 203, 115, 0.85));
	transition: background-color 0.5s ease, box-shadow 0.3s ease;
	color: black;
	border-radius: 8px;
}

.choice-color-4 {
    background: linear-gradient(to bottom, rgba(236, 125, 125, 0.85), rgba(255, 181, 106, 0.85), rgba(230, 203, 115, 0.85));
	transition: background-color 0.5s ease, box-shadow 0.3s ease;
	color: black;
	border-radius: 8px;
}

.choice-color-5 {
    background: linear-gradient(to bottom, rgba(236, 125, 125, 0.85), rgba(255, 181, 106, 0.85), rgba(230, 203, 115, 0.85));
	transition: background-color 0.5s ease, box-shadow 0.3s ease;
	color: white;
	border-radius: 8px;
}

.choice-color-6 {
    background: linear-gradient(to bottom, rgba(236, 125, 125, 0.85), rgba(255, 181, 106, 0.7), rgba(230, 203, 115, 0.7));
	transition: background-color 0.5s ease, box-shadow 0.3s ease;
	color: white;
	border-radius: 8px;
}

.choice-color-7 {
    background: linear-gradient(to bottom, rgba(236, 125, 125, 0.85), rgba(255, 181, 106, 0.85), rgba(230, 203, 115, 0.85));
	transition: background-color 0.5s ease, box-shadow 0.3s ease;
	color: white;
	border-radius: 8px;
}


/* Add more classes and colors as needed */

/* Add hover styles */
.choice-color-1:hover {
	border-color: rgba(53, 55, 71, 1);
	/* Border color on hover */
	background-color: rgba(18, 18, 24, 0.8);
	;
	border-radius: 8px;
}

.choice-color-2:hover {
	border-color: rgba(53, 55, 71, 0.8);
	/* Border color on hover */
	background-color: rgba(18, 18, 24, 0.8);
	;
	border-radius: 8px;
}

.choice-color-3:hover {
	border-color: rgba(53, 55, 71, 0.8);
	/* Border color on hover */
	background-color: rgba(18, 18, 24, 0.8);
	;
	border-radius: 8px;
}

.choice-color-4:hover {
	border-color: rgba(53, 55, 71, 0.8);
	/* Border color on hover */
	background-color: rgba(18, 18, 24, 0.8);
	;
	border-radius: 8px;
}

.choice-color-5:hover {
	border-color: rgba(53, 55, 71, 0.8);
	/* Border color on hover */
	background-color: rgba(18, 18, 24, 0.8);
	;
	border-radius: 8px;
}

.choice-color-6:hover {
	border-color: rgba(53, 55, 71, 0.8);
	/* Border color on hover */
	background-color: rgba(18, 18, 24, 0.8);
	;
	border-radius: 8px;
}

.choice-color-7:hover {
	border-color: rgba(53, 55, 71, 0.8);
	/* Border color on hover */
	background-color: rgba(18, 18, 24, 0.8);
	;
	border-radius: 8px;
}

.custom-input-container {
	width: 80%;
	margin: 0 auto;
}

.custom-input {
	margin-top: 100px;
	width: 400px;
	font-size: 30px;
	/* Adjust the font size as needed */
	border: none;
	border-bottom: 2px solid white;
	/* Black bottom border */
	outline: none;
    background-color: rgba(18, 18, 24, 0.8);
	/* Transparent background */
	padding-bottom: 10px;
	/* Adjust the padding to make the line longer */
	transition: border-bottom-color 0.3s ease, width 0.3s ease;
	/* Add transition for width */
    color: white;
    padding: 10px;
    border-radius: 8px;
}

.custom-input:hover {
	border-bottom-color: rgba(53, 55, 71, 0.8);
	/* Hover effect color */
}

.custom-input::placeholder {
	color: white;
	/* Placeholder color */
	opacity: 1;
	/* Make sure the placeholder is fully visible */
}

.card:hover {

	transform: none !important;
	/* Set transform property to none to disable the zoom effect */
	/* Any other styles applied during hover state can be overridden here */

}

@media (max-width: 768px) {
	.question-container {
		width: 100%;
		/* Use a percentage width for smaller screens */
	}
}

.question-container {
	position: relative;
}

.question-container .btn {
	position: absolute;
	bottom: 10px;
	/* Adjust the bottom position as needed */
}

.question-transition {
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

.choices {}

.card:hover {
	box-shadow: 0 0 0 !important;
	/* Reset box-shadow to none on hover */
}

.fa {
	color: white;
}
.custom-container {
	border: 1px solid #ccc;
	padding: 20px;
	margin-top: 20px;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	color: black;
}

/* Remove the anchor hover effect */
a:hover {
	text-decoration: none;
	/* Remove underline on hover */
	color: inherit;
	/* Inherit the text color from the parent element */
}

a {
	text-decoration: none;
	/* Remove underline */
	color: gray;
	/* Set the text color to black */
}


.card-body .quiz-button {
	background-size: 200% auto;
	background-image: linear-gradient(to right, black, red, white);
	animation: gradientMovement 10s ease infinite;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	/* Change the background color to complement the gradient */
	background-color: #006699;
	/* Replace with your preferred color */
}

.card-body .quiz-button:hover {
	background-color: red;
	/* Change the hover color to complement the gradient */
}

.custom-radio {
	display: inline-block;
	margin-right: 10px;
	/* Add spacing between choices if needed */
	cursor: pointer;
}

.custom-radio input {
	display: none;
}

#question-number-list {
	display: flex;
	align-items: center;
}

.question-pages-container {
	display: flex;
	margin: 0 5px;
	/* Adjust margin as needed */
}

.question-number {
	margin: 0 2px;
	/* Adjust margin as needed */
}

.choice-box {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px;
	transition: background-color 0.5s ease, box-shadow 0.3s ease;
	border: 1px solid rgba(0, 0, 0, 0.1);
	cursor: pointer;
	font-size: 16px;
	text-align: center;
	height: 250px;
}

/* Media query for smaller screens */
@media (max-width: 767px) {
	.choice-box {
		height: 40px;
	}
}

.choice-box {}

.choice-box:hover {
	border-color: rgba(23, 24, 32, 0.80);
	/* Border color on hover */
	border-radius: 8px;
}


.custom-radio input:checked+.choice-box {
    background-color: rgba(23, 24, 32, 0.85);
	border-radius: 8px;
	color: bisque;
	/* Change text color when selected */
	transition: background-color 0.3s;
	/* Add transition effect for color change */
}

.btns {
	background-color: transparent;
	color: #333;
	/* Text color */
	border: 2px solid #333;
	/* Border color */
	border-radius: 8px;
	/* Rounded corners */
	padding: 8px 16px;
	/* Padding around the number */
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s, border-color 0.3s;
	/* Add smooth transitions */
}

.btns:hover {
	background-color: #333;
	/* Background color on hover */
	color: #fff;
	/* Text color on hover */
	border-color: #333;
	/* Border color on hover */
}

.btns.clicked {
	background-color: rgba(23, 24, 32, 0.95);
	color: #fff;
	/* Text color when clicked */
	border-color: rgba(23, 24, 32, 0.95);
	/* Border color when clicked */
}

.qnumber  {
	color: white;
}