.qr-card {
	background-color: #ddd ;
	height: 270px;
	width: 270px;
}

.qr-img {
	background-color: #FFF;
	height: 250px;
	width: 250px;
	border: 4px dotted #000;
	border-radius: 10px;
	margin: auto;
	margin-top: 10px;
}

.preview-card {
	height: 320px;
	width: 500px;
	background-color: #FFF;
	float: right;
}

.id-preview {
	background-image: url("../images/id-background.png");
	background-size: contain;
	background-repeat: no-repeat;
	height: 320px;
	width: 500px;
	border: 4px dotted #000;
	border-radius: 10px;
	margin: 20px 20px 10px 20px;
}