* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Baloo 2', cursive;
}

.title {
	color: white;

}

.banner-text {
	width: 100%;
	position: absolute;
	z-index: 1;
}

.banner-text ul {
	height: 50px;
	float: right;
}

.banner-text ul li {
	display: inline-block;
	padding: 40px 15px;
	text-transform: uppercase;
	color: #fff;
	font-size: 20px;
}

.banner-text ul li:hover {
	cursor: pointer;
}

.banner-text h2 {
	text-align: center;
	color: #fff;
	font-size: 50px;
	margin-top: 20%;
}

.animation-area {
	background: linear-gradient(to left, #8942a8, #ba382f);
	width: 100%;
	min-height: 100vh;
	/* Set the height to 100% of the viewport height */
}

.box-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.box-area li {
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background: rgba(255, 255, 255, 0.2);
	animation: animate 20s linear infinite;
	bottom: -150px;
}

.box-area li:nth-child(1) {
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}

.box-area li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}

.box-area li:nth-child(3) {
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}

.box-area li:nth-child(4) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}

.box-area li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}

.box-area li:nth-child(6) {
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}

@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}

	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}

.choice-color-1 {
	background-color: rgba(23, 24, 32, 0.85);
	transition: background-color 0.5s ease, box-shadow 0.3s ease;
	color: white;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 8px;

}

.choice-color-2 {
	background-color: rgba(23, 24, 32, 0.85);
	transition: background-color 0.5s ease, box-shadow 0.3s ease;
	color: white;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

.choice-color-3 {
	background-color: rgba(23, 24, 32, 0.85);
	transition: background-color 0.5s ease, box-shadow 0.3s ease;
	color: white;
	border-radius: 8px;
}

.choice-color-4 {
	background-color: rgba(23, 24, 32, 0.85);
	transition: background-color 0.5s ease, box-shadow 0.3s ease;
	color: white;
	border-radius: 8px;
}

.choice-color-5 {
	background-color: rgba(23, 24, 32, 0.85);
	transition: background-color 0.5s ease, box-shadow 0.3s ease;
	color: white;
	border-radius: 8px;
}

.choice-color-6 {
	background-color: rgba(23, 24, 32, 0.85);
	transition: background-color 0.5s ease, box-shadow 0.3s ease;
	color: white;
	border-radius: 8px;
}

.choice-color-7 {
	background-color: rgba(23, 24, 32, 0.85);
	transition: background-color 0.5s ease, box-shadow 0.3s ease;
	color: white;
	border-radius: 8px;
}


/* Add more classes and colors as needed */

/* Add hover styles */
.choice-color-1:hover {
	border-color: rgba(53, 55, 71, 1);
	/* Border color on hover */
	background-color: rgba(18, 18, 24, 0.8);
	;
	border-radius: 8px;
}

.choice-color-2:hover {
	border-color: rgba(53, 55, 71, 0.8);
	/* Border color on hover */
	background-color: rgba(18, 18, 24, 0.8);
	;
	border-radius: 8px;
}

.choice-color-3:hover {
	border-color: rgba(53, 55, 71, 0.8);
	/* Border color on hover */
	background-color: rgba(18, 18, 24, 0.8);
	;
	border-radius: 8px;
}

.choice-color-4:hover {
	border-color: rgba(53, 55, 71, 0.8);
	/* Border color on hover */
	background-color: rgba(18, 18, 24, 0.8);
	;
	border-radius: 8px;
}

.choice-color-5:hover {
	border-color: rgba(53, 55, 71, 0.8);
	/* Border color on hover */
	background-color: rgba(18, 18, 24, 0.8);
	;
	border-radius: 8px;
}

.choice-color-6:hover {
	border-color: rgba(53, 55, 71, 0.8);
	/* Border color on hover */
	background-color: rgba(18, 18, 24, 0.8);
	;
	border-radius: 8px;
}

.choice-color-7:hover {
	border-color: rgba(53, 55, 71, 0.8);
	/* Border color on hover */
	background-color: rgba(18, 18, 24, 0.8);
	;
	border-radius: 8px;
}