*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

.bar{
    position: absolute;
    width: 100%;
    height: 86px;
    top: 0; 
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #02062c;
    padding: 28px 5%;
    transition: all .50s ease; 
    border-bottom: 3px solid #dba61e;
}

.logoPic{
    display: flex;
}

.logoPic img{
    height: 62px;
    margin-right: 10px;
    border-radius: 50%;
    margin-top: 10px;
}

.logo{
    display: flex;
    flex-direction: column;
}

.logo span{
    color: white;
    margin-top: 10px;
    font-size: 1.6rem;
    font-weight: 600;
}

.logo .subtitle{
    margin-top: 0px;
    color: bisque;
}

.logBar{
    display: flex;
    align-items: center;
}

.logBar a{
    margin-right: 25px;
    margin-left: 10px;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50 ease;
}

.user{
    display: flex;
    align-items: center;
}

.user i {
    color: bisque;
    font-size: 21px;
    margin-right: 7px;
}



.logBar a:hover{
   color: #dba61e;
}

@media (max-width: 650px) {
    
    .logo .subtitle{
        font-size: 12px;
        margin-top: 3px;
    }

    .logo span{
        font-size: 1.3rem;
        font-weight: 600;
    }

    .logoPic img{
        height: 63px;
        margin-top: 3px;
    }

    .logBar a{
        display: none;
    }
}


/* Style the dropdown container */
.user-dropdown {
    position: relative;
    display: inline-block;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #001653;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Style the dropdown links */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color on hover */
.dropdown-content a:hover {
    background-color: #110edf;
}
